.encaixe {
  margin: 0 auto;
  max-width: 1024px;
}

.header {
  width: 100%;
  background-color: white;
}

.headerContent {
  padding: 20px 0; 
  display: flex;
  justify-content: space-between;
}
.headerContent nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.headerContent h3 {
  font-weight: 400;
  color: rgb(26, 26, 26);
}

.links {
  text-decoration: none;
  color: rgb(26, 26, 26);
}